<div class="container">
    <form [formGroup]="answerForm">
        <div class="row">
            <input class="form-check-input" id="id" type="checkbox" value="" id="checkbox1">
            <input type="text">
        </div>
        <app-image-upload></app-image-upload>
        <div class="row">
            <input class="form-check-input" id="id" type="checkbox" value="" id="checkbox1">
            <input type="text">
        </div>
        <app-image-upload></app-image-upload>
        <div class="row">
            <input class="form-check-input" id="id" type="checkbox" value="" id="checkbox1">
            <input type="text">
        </div>
        <app-image-upload></app-image-upload>
        <div class="row">
            <input class="form-check-input" id="id" type="checkbox" value="" id="checkbox1">
            <input type="text">
        </div>
        <app-image-upload></app-image-upload>
    </form>
</div>