<div class="container" *ngIf="quizData">
    <p>Name: {{quizData.name}}</p>
    <p>Author: {{quizData.author}}</p>
    <p>Category: {{quizData.category}}</p>
    <p>Date: {{quizData.date}}</p>
    <p>Description: {{quizData.description}}</p>
    <p>Modification time: {{quizData.modification_time}}</p>
</div>


<!--<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>Name: {{quizData.name}}</p>
    <p>Author: {{quizData.author}}</p>
    <p>Category: {{quizData.category}}</p>
    <p>Description: {{quizData.description}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Play</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>-->
