button {
  width: 100%;
  margin-bottom: 5px;
}

.font{
  background: grey;
}

mat-selection-list {
  max-height: 765px;
  overflow: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
