<div class="container w-75 p-3 float-right" *ngIf="currentUser.id == id">
  <nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link"  [routerLink]="[{outlets: {profilenav: 'profinfo'}}]">My Profile <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[{outlets: {profilenav: 'friends'}}]" >My friends</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[{outlets: {profilenav: 'mygames'}}]">My games</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="[{outlets: {profilenav: 'favorite'}}]">Favorite</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
