<div>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Add user
        </mat-panel-title>
        <mat-panel-description>
          Type new email and password
        </mat-panel-description>
      </mat-expansion-panel-header>
  <div fxLayout="row" class >
    <div fxFlex="30"></div>
    <div fxFlex="center center">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" >
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input  matInput formControlName="email"  placeholder="Email" name="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
          <mat-error *ngIf="f.email.errors.required">Email is required</mat-error>
          <mat-error *ngIf="f.email.errors.email">Email must be a valid email address</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Choose role</mat-label>
          <mat-select class="form-control" id="selectRole"  formControlName="role">
            <mat-option *ngIf="isSuperAdmin" value="ADMIN">ADMIN</mat-option>
            <mat-option value="MODERATOR" >MODERATOR</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input type="password"  matInput formControlName="password"  placeholder="Password"  name="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required/>
          <mat-error *ngIf="f.password.errors.required">Password is require</mat-error>
          <mat-error *ngIf="f.password.errors.pattern">Must contain at least 8 or more characters</mat-error>
        </mat-form-field>
        <br>

        <mat-form-field class="full-width">
          <mat-label> Confirm Password</mat-label>
          <input type="password"  matInput  placeholder="Password" formControlName="confirmPassword"  name="password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
          <mat-error *ngIf="f.confirmPassword.errors.required">Confirm Password is required</mat-error>
          <mat-error *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</mat-error>
        </mat-form-field>
        <br>

        <button mat-raised-button class="btn btn-primary">Add new user</button>
      </form>
    </div>
    <div fxFlex="30"></div>
  </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<mat-form-field color="primary">
  <label for="search">Search</label>
  <input id="search" matInput (keyup)="applyFilter($event)">
</mat-form-field>
<div class="mat-elevation-z8 w-75">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" width="100%">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"><a class="nav-link" routerLink=""
                                                (click)="checkOut(element.id, element.email)">
        {{element.name}} {{element.surname}}</a></td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Role</th>
      <td mat-cell *matCellDef="let element"> {{element.role}}</td>
    </ng-container>

    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active</th>
      <td mat-cell *matCellDef="let element">   {{element.active}}</td>
    </ng-container>


    <ng-container  matColumnDef="actions">
      <th  mat-header-cell  *matHeaderCellDef> Acting</th>
      <td  mat-cell  *matCellDef="let row; let element;">
        <div class="buttonsAction">
        <button mat-stroked-button *ngIf="isAdmin && element.active"  (click)="updateActiveStatusUser(element.id)">Deactive</button>
        <button mat-stroked-button *ngIf="isAdmin && !element.active"  (click)="updateActiveStatusUser(element.id)">Active</button>
<!--        <button mat-stroked-button type="button" class="btn btn-secondary" (click)="deleteAdminUser(element.id)">Delete</button>-->
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
