<div class="p-2 bd-highlight align-self-center" >
  <div id="change-password-button">
    <button type="button" class="btn btn-secondary btn-block m-lg-auto-3" routerLink="/new_quiz">Add game</button>
  </div>
</div>

<table class="table table-sm">
  <thead class="thead-dark">
  <tr>
    <th class="text-center" scope="col">#</th>
    <th class="text-center" scope="col">Name</th>
    <th class="text-center" scope="col">Category</th>
    <th class="text-center" scope="col">Date</th>
    <th class="text-center" scope="col">Description</th>
    <th class="text-center" scope="col">Last modification</th>
    <th class="text-center" scope="col">Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let quiz of userQuizzes; let i = index">
    <th scope="row">{{i+1}}</th>
    <td class="text-center">{{quiz.name}}</td>
    <td class="text-center">{{quiz.category}}</td>
    <td class="text-center">{{quiz.date}}</td>
    <td class="text-center">{{quiz.description}}</td>
    <td class="text-center">{{quiz.modificationTime}}</td>
    <td class="text-center btn-group">
      <button type="button" class="btn btn-secondary ml-1">Play</button>
      <button type="button" class="btn btn-secondary ml-1">Edit</button>
      <button type="button" class="btn btn-secondary ml-1">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
