<div class="container">
    <form [formGroup]="answerForm">
        <ol>
            <li>
                <input type="text"><br>
                <app-image-upload></app-image-upload>
            </li>
            <li>
                <input type="text"><br>
                <app-image-upload></app-image-upload>
            </li>
            <li>
                <input type="text"><br>
                <app-image-upload></app-image-upload>
            </li>
            <li>
                <input type="text"><br>
                <app-image-upload></app-image-upload>
            </li>
        </ol>
    </form>
</div>