<div class="container">
    <form [formGroup]="answerForm">
        <ol formArrayName="items">
            <li *ngFor="let item of items.controls; let i=index">
                <div class="form-group mb-3" [formGroupName]="i">
                    <input type="text" class="form-control" placeholder="Answer" aria-label="Answer"
                        aria-describedby="basic-addon1" formControlName="text">
                </div>
                <div
                    *ngIf="items.controls[i].get('text').invalid && (submitted || items.controls[i].get('text').touched || items.controls[i].get('text').dirty)">
                    <div *ngIf="items.controls[i].get('text').errors.required" class="alert alert-danger">Should have at
                        least two answers.</div>
                </div>
                <div *ngIf="items.controls[i].invalid && !items.controls[i].get('text').invalid">
                    <div *ngIf="items.controls[i].errors.mustExist" class="alert alert-danger">Add text. Next answer is
                        not
                        empty.
                    </div>
                </div>
                <app-image-upload></app-image-upload>
                <hr *ngIf="i!=items.controls.length-1" class="my-4">
            </li>
        </ol>
    </form>
</div>