<div class="container" fxLayout="column" fxLayoutAlign="start">
    <h2 fxFlexAlign="center">Settings</h2>
    <div fxLayout.gt-sm="row" fxLayout="column" fxFlex="auto" fxLayoutAlign="space-evenly">
        <mat-form-field>
            <mat-label>Max number of users</mat-label>
            <input matInput type="number" [value]="10" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Timer for question</mat-label>
            <input matInput type="number" [value]="10" required>
        </mat-form-field>
        <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="1rem">
            <button mat-raised-button color="accent">Save Settings</button>
            <button mat-raised-button color="warn">Start Game</button>
        </div>
    </div>
</div>