
<div class="container-xl">
  <div class="d-flex flex-column">
    <div class="p-2">
      <app-profile-navigation></app-profile-navigation>
    </div>
    <div class="p-2">
      <div class="d-flex flex-row bd-highlight mb-1">

        <div class="align-self-start p-2 bd-highlight">
          <app-left-bar></app-left-bar>
        </div>
        <div id="con" class="align-self-lg-center p-5 bd-highlight w-100">
          <router-outlet name="profilenav"></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
