<div class="background" fxLayout.gt-sm="row" fxLayout.gt-xs="column" fxLayoutWrap fxLayoutGap="3rem"
  fxLayoutAlign="center">
  <div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="starts">
    <h2>Progress</h2>

    <mat-card id="profile-card">
      <mat-card-content fxLayout="row" fxLayoutAlign="space-around">
        <img mat-card-image id="profile-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Profile image" fxFlexAlign="end">
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="space-around">
        <button mat-raised-button fxFlexAlign="end">Go to Profile</button>
      </mat-card-actions>
    </mat-card>
    <mat-card id="rating-card">
      <mat-card-content>
        <h2 class="text">100500<sup>TH</sup></h2>
      </mat-card-content>
    </mat-card>
    <mat-card id="achievement-card">

    </mat-card>
  </div>
  <div fxLayout="column" fxLayoutGap="1rem" fxLayoutAlign="starts">
    <h2>Recent activity</h2>
    <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="center">
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="space-between">
      <h2>Top quizzes</h2>
      <mat-select placeholder="Categories" fxFlexAlign="end">
        View all
      </mat-select>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="center">
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
      <mat-card class="game-card">

      </mat-card>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="space-between">
      <h2>Announcements</h2>
      <mat-select placeholder="Categories" fxFlexAlign="end">
        View all
      </mat-select>
    </div>
    <div fxLayout.gt-xs="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1rem" fxLayoutAlign="center">
      <mat-card class="announcements">

      </mat-card>
    </div>
  </div>
  <!-- <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Expand</button>
              <button mat-menu-item>Remove</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card> -->